# folders or files from RStudio project
.Rproj.user
.Rhistory
.RData
.Ruserdata

# cached files from blogdown
blogdown

# MS office binary files
*.doc
*.docx
*.ppt
*.pptx
*.xls
*.xlsx

# other binary document
*.pdf
